.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.button {
  border: 2px solid rgb(0, 0, 255, 0.5);
  background-color: rgb(0, 0, 255, 0.5);
  border-radius: 5px;
  margin-top: 30px;
  width: 100px;
  height: 40px;
  font-size: 18px;
  margin-bottom: 30px;
}